<% if @chatrooms.empty? %>
  <div class="chat-container d-flex flex-column justify-content-center align-items-center mt-5">
  <h2 class="center">No Chats yet Started</h2>
  <%= link_to "View Items!", items_path, class: "btn btn-primary save-btn my-1" %>
  </div>
<% else %>
  <div class="chat-container">
    <% @chatrooms.each do |chatroom| %>
      <div class="chat-card d-flex justify-content-between align-items-center" >
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <%= cl_image_tag chatroom.item.user.photo.key, class: "avatar-bordered-xlg ml-3", alt: "avatar-bordered" %>
          </div>
          <div class="ml-2">
            <h4 class="white"><%= link_to chatroom.item.user.username, chatroom_path(chatroom) %></h4>
            <p>Hello! So good to hear from you thanks for reaching out!</p>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <img class="product-img" src="<%= cl_image_path chatroom.item.photos[0].key %>">
          </div>
          <div class="ml-2">
            <h4 class="mb-0"><%= link_to chatroom.item.title, chatroom_path(chatroom) %></h4>
            <% chatroom.item.price.to_i.times do  %>
              <span class="euro"><i class="fas fa-euro-sign"></i></span>
            <% end %>
            <p class="font-weight-light"><i class="fas fa-map-marker-alt blue"></i><%= chatroom.item.user.distance_to(current_user.geocode).nil? ?  " near you" : " #{chatroom.item.user.distance_to(current_user.geocode).round(1)} km" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
