<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-sync-alt icon-b"></i>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "<i class='fas fa-comments green'></i>".html_safe, chatrooms_path, class: "nav-link  btn btn-primary navbar-btn" %>
        </li>
        <li class="nav-item">
          <%= link_to "<i class='fas fa-heart red heart'></i>".html_safe, liked_index_path, class: "nav-link  btn btn-primary navbar-btn" %>
        </li>
        <li class="nav-item">
          <%= link_to "<i class='fas fa-sync-alt icon-b'></i>".html_safe, offers_path, class: "nav-link  btn btn-primary navbar-btn" %>
        </li>
        <li class="nav-item dropdown">
        <!-- upload avatar -->
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, stylefit: :cover, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "https://images.unsplash.com/photo-1472491235688-bdc81a63246e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", stylefit: :cover, class: "avatar-square dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Account", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "My Items", my_items_items_path, class: "dropdown-item" %>
            <%= link_to "My Swaps", my_items_items_path, class: "dropdown-item" %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
